*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

/*---- HOME PAGE ----*/
.main-header{
    min-height: 100vh;
    position: relative;
    width: 100%;
    background-image: url(../media/background-5.png);
    background-position: center;
    background-size: cover;
}

nav{
    display: flex;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 150px;
}

.header-links{
    flex: 1;
    text-align: right;
}

.header-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.header-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.header-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(175,175,175,1);
    display: block;
    margin: auto;
    transition: 0.3s;
}

.header-links ul li:hover::after{
    width: 100%;
}

/*---- HOME PAGE INTRO ----*/
.introduction{
    width: 90%;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.introduction h1{
    font-size: 60px;
}

.introduction p{
    margin: 10px 0px 40px;
    font-size: 14px;
    color: white;
}

/*---- FOOTER ----*/

footer{
    background: #111111;
    height: auto;
    width: 100vw;
    padding-top: 7px;
    color: white;
}

.footer-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-text h3{
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}

.footer-text p{
    max-width: 500px;
    margin: 10px auto;
    font-size: 12px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0 16px 0;
}

.socials li{
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: white;
}

.socials a i{
    font-size: 16px;
    transition: 0.3s;
}

.socials a:hover {
    color: red;
}

.copyright{
    background: black;
    width: 100vw;
    padding: 5px 0;
    text-align: center;
}

.copyright p{
    font-size: 10px;
    word-spacing: 2px;
    text-transform: capitalize;
}

/*---- CONTACT PAGE ----*/

.contact-page {
    text-align: center;
    margin: 50px;
}

.contact-info {
    margin: 20px;
}

.contact-info h1, p {
    padding-bottom: 10px;
}

.contact-form {
    width: 50%;
    display: inline-block;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.text-box {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 40%;
    background-color: darkgrey;
    color: white;
    /*padding: 14px 20px;*/
    /*margin: 8px 0;*/
    /*border: none;*/
    /*border-radius: 4px;*/
}

input[type=submit]:hover {
    background-color: #17252A;
}